<div class="main users-new">
  <div class="container">
    <div class="form users-form">
      <div class="form-body">
      <a>立直回数<%=@riichi_times %><br>
      なき回数<%=@melding_times %><br>
      あがり点数合計<%=@total_winning_point %><br>
      放銃合計<%=@total_ducking_point %><br>
      あがり回数<%=@winning_times %><br>
      放銃回数<%=@ducking_times %><br>
      局数<%=@total_rounds %><br></a>
        <a>和了率...<%=@winning_per %>%</a><br>
        <a>放銃率...<%=@ducking_per %>%</a><br>
        <a>平均和了点...<%=@winning_points_av %>点</a><br>
        <a>平均放銃点...<%=@ducking_points_av %>点</a><br>
        <a>副露率...<%=@meld_per %>%</a><br>
        <a>立直率...<%=@riichi_per %>%</a><br>
        <a>平均順位...<%=@rank_av %>位</a><br>
        <a>1位率...<%=@rank_1 %>%</a><br>
        <a>2位率...<%=@rank_2 %>%</a><br>
        <a>3位率...<%=@rank_3 %>%</a><br>
        <a>4位率...<%=@rank_4 %>%</a><br>
        <a>連対率...<%=@rank_1_2 %>%</a><br>
      </div>
  </div>
</div>