<div class="main users-new">
  <div class="container">
    <div class="form users-form">
      <div class="form-body">
        <a>和了率...<%=@winning_per %>%</a><br>
        <a>放銃率...<%=@ducking_per %>%</a><br>
        <a>平均和了点...<%=@winning_points_av %>点</a><br>
        <a>平均放銃点...<%=@ducking_points_av %>点</a><br>
        <a>副露率...<%=@meld_per %>%</a><br>
        <a>立直率...<%=@riichi_per %>%</a><br>
        <a>立直成功率...<%=@riichi_and_win__per %>%</a><br>
        <a>立直時放銃率...<%=@riichi_and_duck_per %>%</a><br>
        <a>副露成功率...<%=@meld_and_win_per %>%</a><br>
        <a>副露時放銃率...<%=@meld_and_duck_per %>%</a><br>
        <a>平均順位...<%=@rank_av %>位</a><br>
        <a>1位率...<%=@rank_1 %>%</a><br>
        <a>2位率...<%=@rank_2 %>%</a><br>
        <a>3位率...<%=@rank_3 %>%</a><br>
        <a>4位率...<%=@rank_4 %>%</a><br>
        <a>連対率...<%=@rank_1_2 %>%</a><br>
      </div>
  </div>
</div>