<!DOCTYPE html>
<html>
    <head>
    <title>Mahjong Stats</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <header>
            <div class="header-logo">
                <%= link_to("Mahjong Stats","/")%>
            </div>
            <ul class="header-menus">
            <% if @current_user %>
                <li>
                <%= link_to(@current_user.name + "さん","/users/#{@current_user.id}")%>
                </li>            
                <li>
                <%= link_to("成績入力","")%>
                </li>
                <li>
                <%= link_to("成績分析","")%>
                </li>
                <li>
                <%= link_to("ログアウト","/logout")%>
                </li>
            <% else %>
                <li>
                <%= link_to("Mahjong Statsとは","")%>
                </li>
                <li>
                <%= link_to("新規登録","signup")%>
                </li>
                <li>
                <%= link_to("ログイン","/login")%>
                </li>                
            <%  end %>
            </ul>
        </header>

        <% if flash[:notice] %>
        <div class="flash">
        <%= flash[:notice] %>
        </div>
        <% end %>

        <%= yield %>
    </body>
</html>
